
		  <!-- Modal About -->
          <div class="modal fade fill-in" id="about" tabindex="-3" role="dialog" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="pg-close"></i>
            </button>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="text-center p-b-5">О нас:</h5>
                <p>
				<small>Небольшой импровизированный "вопрос-ответ", который снимет кучу вопросов о том - что такое Гдетус и для чего он нужен. И кому.
				</small>
				</p>
				</div>
                <div class="panel panel-transparent">
                  <div class="panel-body">
<div class="col-md-14 sortable-column ui-sortable">
<div class="panel panel-default bg-primary" data-pages="portlet">
<div class="panel-heading ui-sortable-handle">
<h3 class="text-white">
<span class="semi-bold">Тусовщику:</span></h3>
</div>
<div class="panel-body">
<p class="text-white">Здесь ты можешь в режиме реального времени видеть на карте - где проходят или будут проходить тусовки, кто и какие вписки и безумства планирует из числа твоих друзей или незнакомцев и даже где ты можешь сегодня на халяву перекусить, посетить какое-нибудь крутое мероприятие или даже выиграть что-нибудь от заведений просто оказавшись в нужное время в нужном месте! ;))
<ul class="lg-icon">
                          <li><span>общайся со старыми друзьями и заводи новых! </span>
                          </li>
                          <li><span>выполняй квесты и делай собственные </span>
                          </li>
                          <li><span>развлекайся и этим зарабатывай! </span>
                          </li>
                        </ul>
</div>
</div>
<div class="panel panel-default bg-complete" data-pages="portlet">
<div class="panel-heading ui-sortable-handle">
<h3 class="text-black">
<span class="semi-bold">Бизнесу:</span></h3>
</div>
<div class="panel-body">
<p class="text-black">У вас стартап? Или вы бизнесмен с многолетним стажем? А может быть вы открываете новое направление, зашли в регион, или даже сами приобрели франшизу? В любом случае - мы не будем рассказывать вам сколько сейчас стоит продвижение в интернете, не говоря уже о оффлайн. <p> Наш проект помогает тем, что 
<ul class="lg-icon" color="black">
                          <li><span>Life isn’t about getting and having...</span>
                          </li>
                          <li><span>Strive not to be a success... </span>
                          </li>
                          <li><span>Whatever the mind of man can... </span>
                          </li>
                        </ul>
</div>
</div>
</div>
              <!-- /.modal-content -->
            </div>
          </div>
          <!-- /.modal-dialog -->
		             </div>
          </div>
		  </div>