
  <!-- Modal Registration-->
  <div class="modal fade fill-in" id="accreq" tabindex="-2" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      <i class="pg-close"></i>
    </button>
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text-center p-b-5">Создай свой собственный Гдетус! Это очень просто! :)</h5>
        <p>
		<small>Ты сможешь не только в реальном времени следить за мероприятиями, событиями, квестами, тусовками и вписками своих друзей и заведений города на карте, но и создавать свои собственные!</small>
		</p>
		</div>
        <div class="panel panel-transparent">
          <div class="panel-body">
            <form id="form-personal" role="form" autocomplete="off">
              <div class="row clearfix">
                <div class="col-sm-6">
                  <div class="form-group form-group-default required">
                    <label>Твоё имя</label>
                    <input type="text" class="form-control" name="firstname" placeholder="Иван" required >
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group form-group-default required">
                    <label>Твоя фамилия</label>
                    <input type="text" class="form-control" name="lastname" placeholder="Петров" required >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default input-group">
                    <label>Твой адрес в Гдетусе</label>
                    <input type="text" class="form-control" name="useraddr" placeholder="Например: ivanpetrov (ты сможешь изменить этот адрес позже)" default>
                    <span class="input-group-addon primary">
                                               gdetus.io/ivanpetrov
                                            </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default required">
                    <label>Твой пароль</label>
                    <input type="password" class="form-control" name="password" placeholder="не менее 8 символов, включая буквы A-z, цифры и спецсимволы"  >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default required">
                    <label>Твоя почта</label>
                    <input type="email" class="form-control" name="email" placeholder="Мы вышлем тебе сверхсекретное послание ;))" >
                  </div>
                </div>
              </div>
              <p class="pull-left"><small>
			  <div class="checkbox check-primary">
          <input type="checkbox" id="regaccepted">
          <label for="regaccepted">Я прочитал <a href="http://gdetus.io/terms">правила</a> и согласен на всё! ;)</label>
              <p class="pull-right">
                <a href="https://new.vk.com/im?media=&sel=-108146224" target= "blank" class="text-info small">Нужна помощь?</a>
              </p>
			  </small>
			  </div>
              <div class="clearfix"></div>
              <button class="btn btn-primary" type="submit" disabled>Создать аккаунт</button>
            </form>
          </div>
        </div>
      <!-- /.modal-content -->
    </div>
  </div>
  <!-- /.modal-dialog -->
  
  </div>