
		  <!-- Modal Ads -->
          <div class="modal fade fill-in" id="ads" tabindex="-3" role="dialog" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="pg-close"></i>
            </button>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="text-center p-b-5">Реклама в сервисе:</h5>
                <p>
				<small>Нашими основными коммерческими предложениями для рекламодателей являются:
				</small>
				</p>
				</div>
                <div class="panel panel-transparent">
                  <div class="panel-body">
<div class="col-md-12 sortable-column ui-sortable">
<div class="panel panel-default bg-white" data-pages="portlet">
<div class="panel-heading ui-sortable-handle">
<div class="panel-controls">
</div>
</div>
<div class="panel-body">
<h3><span class="semi-bold">Basic</span> Tools</h3>
                            <p>Basic Portlet tools include a slide toggle button  and a close button  All these are fully customizable and come with callback functions to integrate with your code. Clicking on the refresh button will simulate an AJAX call.
                            </p>
</div>
</div>
<div class="panel panel-default bg-complete" data-pages="portlet">
<div class="panel-heading ui-sortable-handle">
<div class="panel-controls">
</ul>
</div>
</div>
<div class="panel-body">
<h3 class="text-white">
<span class="semi-bold">Drag</span> me!</h3>
<p class="text-white">When it comes to digital design, the lines between functionality,
aesthetics, and psychology are inseparably blurred. Without the constraints of the
physical world, there’s no natural form to fall back on, and every bit of constraint
and affordance must be introduced intentionally. Good design makes a product useful.
A product is bought to be used. It has to satisfy certain criteria, not only
functional, but also psychological and aesthetic. </p>
</div>
</div>
</div>
              <!-- /.modal-content -->
            </div>
          </div>
          <!-- /.modal-dialog -->
		             </div>
          </div>
		  </div>