
         <div class="modal fade fill-in " id="vac" tabindex="-3" role="dialog" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="pg-close"></i>
            </button>
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="text-center p-b-5">Хэй, тусовщик! Хочешь попробовать свои силы в нашей странноватой и безбашенной компании? Тогда тебе сюда! Выбери должность, заполни несложную анкету и мы обязательно тебя найдём!</h5>
                
				</div>
                <div class="panel panel-transparent">
                  <div class="panel-body">
				  
<div class="row">
<div class="col-sm-10">
<form id="form-work" class="form-horizontal" role="form" autocomplete="off" novalidate="">
<div class="form-group">
<label for="fname" class="col-sm-3 control-label">Меня зовут:</label>
<div class="col-sm-9">
<input type="text" class="form-control" id="firstname" placeholder="Дарт Вейдер" name="name" required="" aria-required="true">
</div>
</div>
<div class="form-group">
<label class="col-sm-3 control-label">Я у мамы:</label>
<div class="col-sm-9">
<div class="radio radio-primary">
<input type="radio" value="gender" name="options" id="male">
<label for="male">Йа мужык! \m/</label>
<input type="radio" checked="checked" value="gender" name="options" id="female">
<label for="female">Нет, я - девочка :3</label>
<input type="radio" checked="checked" value="gender" name="options" id="unknown">
<label for="unknown">Не скажу -_-</label>
</div>
</div>
</div>
<div class="form-group">
<label class="col-sm-3 control-label">Меня можно найти:</label>
<div class="col-sm-9">

<div class="row">
<div class="col-sm-4">
<input type="text" class="form-control" placeholder="ВК/Твиттер/Инста/Фейсбук" required="true" area-required="true">
</div>
<div class="col-sm-4 sm-m-t-10">
<input type="text" placeholder="Номер телефона" class="form-control">
</div>
<div class="col-sm-4 sm-m-t-10">
<input type="mail" type="text" placeholder="E-mail" class="form-control">
</div>
</div>
</div>
</div>
<div class="form-group">
<label for="name" class="col-sm-3 control-label">Черкни нам о себе пару слов:</label>
<div class="col-sm-9">
<textarea rows="7" style="resize: none;" class="form-control" id="name" placeholder="Что ты умеешь, чего ты не любишь, на что не подписывался, ну и всё такое %))"></textarea>
</div>
</div>
<div class="form-group">
<label for="position" style="margin-top: 18px;" class="col-sm-3 control-label">Хочу работать:</label>
<div class="col-sm-9">

                      <div class="form-group required">
					  
                        <select class="full-width" data-init-plugin="select2" style=" width: 95%;margin-left: 15px;">
						
                          <optgroup label="Административный персонал">
                            <option value="CM">Коммерческий представитель</option>
							              <option value="RM">Региональный представитель</option>
                          </optgroup>
                          <optgroup label="Технический персонал">
                            <option value="NJSP">Программист Node JS</option>
							<option value="FEHC">Фронтенд специалист HTML 5 + CSS 3</option>
							<option value="FEA">Фронтенд специалист Angular</option>
							<option value="NGX">Специалист по конфигурации Nginx</option>
							<option value="APPWP">Разработчик приложений WP 7/8/10</option>
							<option value="APPAND">Разработчик приложений Android</option>
							<option value="APAPP">Разработчик приложений Apple</option>
							<option value="APIVK">Специалист по работе с API ВКонтакте</option>
							<option value="APIT">Специалист по работе с API Twitter</option>
							<option value="APIFB">Специалист по работе с API Facebook</option>
							<option value="APII">Специалист по работе с API Instagram</option>
							<option value="ST">Тестировщик функционала сервиса</option>
                          </optgroup>
                          <optgroup label="Оперативный персонал">
						    <option value="AMVK">Аккаунт-менеджер ВКонтакте</option>
						    <option value="AMT">Аккаунт-менеджер Twitter</option>
							<option value="AMF">Аккаунт-менеджер Facebook</option>
							<option value="AMI">Аккаунт-менеджер Instagram</option>
                            <option value="SMM">СММ-специалист</option>
							<option value="TSS">Специалист службы поддержки</option>
							<option value="CWR">Копирайтер</option>
                          </optgroup>
                          <optgroup label="Производственный персонал">
                            <option value="PI">Художник-иллюстратор</option>
							<option value="GD">Графический дизайнер Photoshop/CorelDRAW</option>
							<option value="GD">Верстальщик Photoshop/CorelDRAW</option>
							<option value="FC">Каллиграф</option>
                          </optgroup>
                          <optgroup label="Прочие специальности">
                            <option value="CT">Junior developer</option>
                          </optgroup>
                        </select>
                      </div>
                   
</div>
</div>
<div class="form-group">
<label for="position" style="margin-top: 18px;" class="col-sm-3 control-label">Ключевые навыки:</label>
<div class="col-sm-9">

                <!-- START PANEL -->
            <div class="col-sm-12">
                    <div class="form-group form-group-default ">             
                      <input class="tagsinput custom-tag-input" type="text" value="Node JS, упорство, самостоятельность, есть опыт, СММ, я - опытный копирайтер"/>
                    </div>
            </div>
                <!-- END PANEL -->
</div>
 </div>
 <div class="col-sm-3">

 </div>
<div class="col-sm-9">
<div class="pull-left">
                        <div class="checkbox check-primary">
                          <input type="checkbox" value="1" id="checkbox-agree">
                         <label for="checkbox-agree">Я прочитал <a href="http://gdetus.io/terms">правила</a> сервиса и согласен на обработку моих персональных данных.</label>
                          </label>
                        </div>
                      </div>
					  <br>
					  <div class="form-group">
					  <div class="pull-left">
					  <button class="btn btn-primary" type="submit">Отправить</button>
					  </div>
					  </div>
					   </div>
					   <br>

</form>

              <!-- /.modal-content -->
           
          </div>
          <!-- /.modal-dialog -->
		             </div>
          </div>
		  </div>